assets/videos/*.mov filter=lfs diff=lfs merge=lfs -text
assets/videos/vecteezy_bamboo-rafting-through-the-lush-mangroves_3580227.mov filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
